<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240816103560-n8t7mdgqhdo8pappjlff0uqh9oi6tui1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240816103560-n8t7mdgqhdo8pappjlff0uqh9oi6tui1</string>
	<key>API_KEY</key>
	<string>AIzaSyCFybMW95gB_QLB4a0x3g1BK_WdGV3L5iI</string>
	<key>GCM_SENDER_ID</key>
	<string>240816103560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.essai2</string>
	<key>PROJECT_ID</key>
	<string>pfeapp-5513c</string>
	<key>STORAGE_BUCKET</key>
	<string>pfeapp-5513c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240816103560:ios:e6c6ea547bc3a58bb57f3d</string>
</dict>
</plist>